<!DOCTYPE html>
<html>
<head>
<title>CV {{ .Name }}</title>
<link rel="stylesheet" href="/static/cv.css"/>
<link rel="icon" href="/static/favicon.png">
</head>
<body>

<div class="skills">
{{- range $general, $skills := .Skills }}
<div onclick="displayable('{{ $general}}', '')">
<h1>{{ $general }}</h1>
</div>
{{- range $detail, $li := $skills}}
<div class="{{ $general }}" onclick="displayable('group {{ $detail }}', 'flex')">
<h2 class="title">{{$detail}}</h2>
</div>
{{ if gt (len $li) 0}}
<div class="group {{ $detail }}" style="display: none">
{{- range $i, $s := $li }}
  <p>{{$s}}</p>
{{- end }}
</div>
{{- end }}
{{- end }}
{{- end }}
</div>

<script>
function displayable(cls, display) {
  var els = document.getElementsByClassName(cls);
  for (var i=0; i<els.length; i++ ){
    var x = els[i]
    if (x.style.display === "none") {
      x.style.display = display;
    } else {
      x.style.display = "none";
    }
  }
}
</script>

</body>
</html>

