<!DOCTYPE html>
<html>
<head>
<title>CV {{ .Name }}</title>
<link rel="stylesheet" href="/static/cv.css"/>
<link rel="icon" href="/static/favicon.png">
</head>
<body>
<h1> Florent Lecoultre </h1>

<div class="skills">
<h1>Skills</h1>
{{- range $general, $skills := .Skills }}
<div class="clickable" onclick="displayable('{{ $general}}', '')">
<h2>{{ $general }}</h2>
</div>

{{- range $detail, $li := $skills}}
{{- if gt (len $li) 0}}
<div class="{{ $general }} clickable flex" onclick="displayable('group {{ $detail }}', '')" style="display: none">
<h4 class="title">{{$detail}}</h4>
{{- else }}
<h4 class="{{ $general }} title" style="display: none">{{$detail}}</h4>
{{- end }}

{{ if gt (len $li) 0}}
<div class="group {{ $detail }}" style="display: none">
  {{- range $i, $s := $li }}
  <p>{{$s}}</p>
  {{- end }}
</div>
</div>
{{- end }}
{{- end }}
{{- end }}
</div>

<script>
function displayable(cls, display) {
  var els = document.getElementsByClassName(cls);
  for (var i=0; i<els.length; i++ ){
    var x = els[i]
    console.log(x.style, "|", x.style.display)
    if (x.style.display == "none" || (display!='' && x.style.display=='')) {
      x.style.display = display;
    } else {
      x.style.display = "none";
    }
  }
}
</script>

</body>
</html>

