.group {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10ex 0 10ex;
  display: none;
}


.title {
  color: #0067a5;
}
p {
  font-size: medium;
}
h1 {
  font-size: xx-large;
}

h2 {
  font-size: xx-large;
}
h3 {
  font-size: large;
}

.clickable {
  cursor: pointer;
}