.group {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}


.title {
  color: #0067a5;
}
p {
  font-size: small;
}
h1 {
  font-size: xx-large;
}

h2 {
  font-size: xx-large;
}
h3 {
  font-size: large;
}
h4 {
  font-size: medium;
}

.flex {
  display: flex;
  flex: auto;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-basis: 80%;
}

.clickable {
  cursor: pointer;
}